<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>SIWI | For Speed</title>
		<meta name="viewport" content="width=device-width, user-scalable=yes" />
		<link rel="stylesheet" href="/assets/static/lib/normalize/normalize.min.css" />
		<link rel="stylesheet" href="/assets/static/lib/sweetalert/sweetalert2.min.css" />
		<link rel="stylesheet" href="/assets/static/css/style.css" />
	</head>

	<body>
    <section class="container">
      <h2>Share In Wireless Interaction</h2>

      <form action="/upload" method="POST" enctype="multipart/form-data" id="uploadfile">
        <div class="file-drop-area">
          <!-- ICON -->
          <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 32 32">
            <defs>
              <style>
                .cls-1 {
                  fill: none;
                }
              </style>
            </defs>
            <path d="M26,30H11a2.0023,2.0023,0,0,1-2-2V22h2v6H26V6H17V4h9a2.0023,2.0023,0,0,1,2,2V28A2.0023,2.0023,0,0,1,26,30Z"/>
            <rect x="17" y="10" width="7" height="2"/>
            <rect x="16" y="15" width="8" height="2"/>
            <rect x="15" y="20" width="9" height="2"/>
            <path d="M9,19a5.0055,5.0055,0,0,1-5-5V3H6V14a3,3,0,0,0,6,0V5a1,1,0,0,0-2,0V15H8V5a3,3,0,0,1,6,0v9A5.0055,5.0055,0,0,1,9,19Z"/>
            <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
          </svg>
          <!-- END ICON -->

          <h4 class="file-drop-area-title">Choose File or Drag and Drop files here</h4>
          <button type="button" class="btn--choose--file">Browse Files</button>
          <input class="file-input" type="file" name="files" id="files" multiple required />
        </div>

        <div class="multi-button">
          <button class="multi-button_button" type="submit" id="file_upload">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="persona-icon" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M4.245 4.861a4.248 4.168 0 0 1 8.22 1.349A2.5 2.5 0 0 1 12 11.167h-.667a.5.5 0 0 1 0-1H12a1.5 1.5 0 1 0-.105-2.997.5.5 0 0 1-.515-.635A3.17 3.17 0 0 0 8.333 2.5 3.167 3.167 0 0 0 5.18 5.378a.5.5 0 0 1-.5.455h-.013a2.167 2.167 0 0 0 0 4.334.5.5 0 1 1 0 1 3.167 3.167 0 0 1-.422-6.306ZM7.646 6.98a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.707.707L8.5 8.54V14a.5.5 0 0 1-1 0V8.54L6.354 9.687a.5.5 0 1 1-.708-.707l2-2Z" clip-rule="evenodd"/></svg>
            Upload
          </button>
          <a class="multi-button_button" href="public" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="persona-icon" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M4.245 4.861a4.168 4.168 0 0 1 8.22 1.349A2.5 2.5 0 0 1 12 11.167h-.667a.5.5 0 0 1 0-1H12a1.5 1.5 0 1 0-.105-2.997.5.5 0 0 1-.515-.635A3.171 3.171 0 0 0 8.333 2.5 3.167 3.167 0 0 0 5.18 5.378a.5.5 0 0 1-.5.455h-.013a2.167 2.167 0 0 0 0 4.334.5.5 0 1 1 0 1 3.167 3.167 0 0 1-.422-6.306Z" clip-rule="evenodd"/><path fill="currentColor" fill-rule="evenodd" d="M10.354 11.646a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.707 0l-2-2a.5.5 0 0 1 .707-.708L7.5 12.793v-5.46a.5.5 0 0 1 1 0v5.46l1.146-1.147a.5.5 0 0 1 .708 0Z" clip-rule="evenodd"/></svg>
            Public
          </a>
        </div>
      </form>
    </section>

		<script src="/assets/static/lib/jquery/jquery.min.js"></script>
		<script src="/assets/static/lib/sweetalert/sweetalert2.min.js"></script>
		<script src="/assets/static/js/script.js"></script>
	</body>
</html>
