<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>SIWI | For Speed</title>
		<meta name="viewport" content="width=device-width, user-scalable=yes" />
		<link rel="stylesheet" href="/static/lib/normalize/normalize.min.css" />
		<link rel="stylesheet" href="/static/lib/sweetalert/sweetalert2.min.css" />
		<link rel="stylesheet" href="/static/css/style.css" />
	</head>

	<body>
		<h2>Share In Wireless Interaction</h2>

		<form action="/upload" method="POST" enctype="multipart/form-data" id="uploadfile">
			<div class="file-drop-area">
				<span class="fake-btn">Choose files</span>
				<span class="file-msg">or drag and drop files here</span>
				<input class="file-input" type="file" name="files" id="files" multiple />
			</div>

			<div class="btn-area">
				<button class="btn" type="submit" id="file_upload">Upload</button>
				<a class="btn" href="public" target="_blank">Public</a>
			</div>
		</form>

		<script src="/static/lib/jquery/jquery.min.js"></script>
		<script src="/static/lib/sweetalert/sweetalert2.min.js"></script>
		<script src="/static/js/script.js"></script>
	</body>
</html>
